.button {
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    padding: 14px;
}

.BUTTON_BIG {
    font-size: 30px;
    font-weight: 700;
    padding: 25px;
}

.BUTTON_SMALL {
    font-size: 10px;
    font-weight: 300;
    padding: 10px;
}